/**
 * @author zhaowenjie
 * @email [zhaowenjie666@foxmail.com]
 * @create date 2020-02-08 15:04:49
 * @modify date 2020-02-08 15:04:49
 * @desc [description]
 */
.index-page {
  width: 100%;
}
.index-page h3 {
  margin: 40px;
  font-size: 40px;
  color: #16c7c1;
  text-align: center;
}
.tip {
  margin: 0 10%;
}
