/**
 * @author zhaowenjie
 * @email [zhaowenjie666@foxmail.com]
 * @create date 2020-02-08 15:04:49
 * @modify date 2020-02-08 15:04:49
 * @desc [description]
 */
.index-page {
  width: 100%;
}
.index-page h3 {
  margin: 40px;
  font-size: 40px;
  color: #16c7c1;
  text-align: center;
}
.tip {
  margin: 0 10%;
}
.imgs {
  text-align: center;
}
.center {
  text-align: center;
}
.items {
  width: 100%;
}
.item {
  float: left;
  list-style: none;
  margin: 10px 0;
  padding: 0 30px;
  text-align: center;
}
.item span {
  background-color: #eaeaea;
  width: 100%;
  display: inline-block;
  height: 50px;
  line-height: 50px;
}

#successModal,
#failModal {
  text-align: center;
  padding-top: 20px;
}
.result {
  color: #0bcbbe;
  font-size: 40px;
  margin: 10px;
}
#failModal .result {
  color: #f82848;
}
.chujia-info {
  margin: 50px;
  line-height: 30px;
  font-size: 30px;
}
.success-btn,
.fail-btn {
  width: 80%;
  margin-bottom: 30px;
  line-height: 80px;
  font-size: 40px;
  border-radius: 20px;
}
