/**
 * @author zhaowenjie
 * @email [zhaowenjie666@foxmail.com]
 * @create date 2020-01-07 15:15:44
 * @modify date 2020-01-07 15:15:44
 * @desc [description]
 */
.page {
  padding: 0 10px;
}
.title {
  margin: 15px 0px 10px;
  height: 109px;
  background-color: rgba(71, 200, 153, 1);
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  padding-left: 55%;
  padding-top: 20px;
  background-image: url("./../imgs/icon2.png");
  background-repeat: no-repeat;
  background-position: 10% center;
  background-size: auto 80%;
}
.title p {
  line-height: 40px;
  margin: 0;
}
.title p span {
  font-size: 28px;
  font-weight: bold;
}
.items {
  /* margin: 0 -10px; */
}
.item {
  position: relative;
  margin: 8px 0;
  width: 48%;
  float: left;
  border: rgba(255, 231, 105, 1) solid 3px;
  border-radius: 4px;
  /* height: 100px; */
  box-sizing: border-box;
}
.item:nth-child(2n-1) {
  margin-right: 4%;
}
.clearfix {
  clear: both;
}
.submit-btn {
  width: 100%;
  border-radius: 20px;
  height: 40px;
  background-color: rgba(93, 151, 249, 1);
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
}
.center {
  text-align: center;
}
#errorModal .modal-dialog,
#successModal .modal-dialog {
  margin: 50px 30px 0;
}
#errorModal .modal-content,
#successModal .modal-content {
  background-color: rgba(252, 124, 124, 1);
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding: 10px 0 20px;
}
#successModal .modal-content {
  background-color: #47c899;
}
.error-count {
  font-size: 24px;
  margin: 30px 0;
}
.error-btn,
.success-btn {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  background-color: #fff;
  color: rgba(252, 124, 124, 1);
  margin: 30px 0 20px;
}
.success-btn {
  color: #47c899;
}
.low,
.high {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  height: auto;
  color: #06a57a;
  font-weight: bold;
  font-size: 24px;
}
.high {
  color: #f90505;
}
.low .icon,
.high .icon {
  margin: 10px 0 5px;
}
.hide {
  display: none;
}
